$font-futura: 'futura-pt', sans-serif;
$font-futura-bold: 'futura-pt-bold', sans-serif;
$font-sans: 'Lato', sans-serif;

@mixin font-futura {
  font-family: $font-futura;
  font-weight: 400;
  font-style: normal;
}

@mixin font-futura-italic {
  font-family: $font-futura;
  font-weight: 400;
  font-style: italic;
}

@mixin font-futura-bold {
  font-family: $font-futura-bold;
  font-weight: 700;
  font-style: normal;
}

@mixin font-futura-bold-italic {
  font-family: $font-futura-bold;
  font-weight: 700;
  font-style: italic;
}

@mixin font-sans {
  font-family: $font-sans;
  font-style: normal;
}

@mixin font-social {
  font-family: 'socicon' !important;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  @include font-sans;
  @include font-size(16);
  font-weight: 400;
  color: $black;
  text-align: left;
}

p {
  @include font-sans;
  @include font-size(16);
  font-weight: 400;
	padding: 8px 0 12px;
  color: $black;
  &.leadin {
    @include font-size(18);
    text-align: left;
  }
  &.small {
    @include font-size(13);
  }
}

a {
	text-decoration: none;
  @include animate-object;
  color: $red-dk;
  font-weight: 700;
  &:hover {
    background-color: $red-dk;
    color: $white;
    text-decoration: none;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  &.button-a {
    @include box-sizing(border-box);
    @include font-sans;
    @include font-size(18);
    color: $white;
    background-color: $blue-dk;
    padding: .5em 1.5em;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    margin: 8px 0 16px;
    &:hover {
      background-color: $blue-md;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    }
    /**@include respond-to(xsmall) {
      display: inline-block;
    }**/
  }
  // &.button-a-colorme {
  //   @include box-sizing(border-box);
  //   @include font-sans;
  //   @include font-size(18);
  //   color: $white;
  //   border-radius: 8px;
  //   display: inline-block;
  //   text-align: center;
  //   margin: 8px 0 16px;
  //   & > div{
  //     width: 100%;
  //     height: 100%;
  //     min-width: 100%;
  //     border-radius: 8px;
  //     padding: .5em 1.5em;
  //   }
  //   &:hover > div {
  //     background-color:rgba(255, 255, 255, 0.1);
  //   }
  //   &:hover {
  //     box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  //   }
  //   /**@include respond-to(xsmall) {
  //     display: inline-block;
  //   }**/
  // }
  &.button-b {
    @include box-sizing(border-box);
    @include font-sans;
    @include font-size(16);
    color: $white;
    //background-color: $red-dk;
    padding: .25em .75em;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    &:hover {
      background-color: $yellow-dk;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    }
    /**@include respond-to(xsmall) {
      display: inline-block;
    }**/
  }
}

strong, b, .text-bold {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  @include font-futura-bold;
}

h1 {
	@include font-size(40);
  letter-spacing:0.025em;
  //padding: 15px 0;
}

h2 {
  @include font-size(28);
  letter-spacing:0.025em;
  //padding: 15px 0;
  /**.presenters &,
  .keynote-presenter & {
    @include font-size(25);
    color: $black;
  }
  &.keynote {
    text-align: center;
  }**/
}

h3 {
  @include font-size(24);
  /**.presenters & {
    @include font-size(17);
    color: #00ADEE;
    font-family: $font-sans;
    text-transform: none;
  }
  .keynote-presenter & {
    @include font-size(20);
    color: #00ADEE;
    font-family: $font-sans;
    text-transform: none;

  }
  #partners & {
    color: #00ADEE;
  }
  &.comingsoon {
    color: #FF5B35;
    text-transform: uppercase;
    font-weight: bold;
  }**/
}

h4 {
  @include font-size(18);
  letter-spacing:0.015em;
}

h5 {
  @include font-size(16);
  letter-spacing:0.008em;
}
h6 {
  @include font-size(14);
}

.uppercase{
  text-transform: uppercase;
}

.event{
  h2{
    a{
      color: #00adee;
    }
    a:hover{
      background-color: #00adee;
      color: $white;
    }
  }
  h4 {
    font-weight: bold;
  }
  p.ticket-price{
    @include font-size(14);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height:1.6;
    margin-top:20px;
  }
}



ul {
  li {
    list-style-type: disc;
    list-style-position: outside;
    margin: 0 0 0 30px;
  }
}

ol {
  li {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0 0 0 30px;
  }
}

div.soldout{
  width: 100%;
  padding: 8px 8px;
  margin: 16px auto;
  background: $yellow-lt;
  p{
    color: $black;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    letter-spacing: 0.5px;
    a{
      font-weight: normal;
      text-decoration: underline;
      color: $black;
    }
    a:hover{
      font-weight: 700;
      background: none;
    }
  }
}
