<footer>
	<div class="container">
		<p>Cincinnati Design Week is proudly organized by a small team of volunteers on the <a href="http://cincinnati.aiga.org/about-us/board-members/" target="_blank" class="yellow-lt">AIGA Cincinnati board</a>. If you're interested in supporting our thriving creative community, we would love to have your time and talents. Please consider <a href="http://cincinnati.aiga.org/join-the-board/" target="_blank" class="yellow-lt">joining our team</a>.</p>
	  <p>&copy; Copyright 2012 - 2018, AIGA Cincinnati</p>
	  <p><a href="http://www.aiga.org/" target="_blank" class="yellow-lt">AIGA</a> | The Professional Association for Design</p>
	</div>
</footer>
