<section class="intro" id="top">
	<div class="mt-5">
		<img src="images/1x/cdw-masthead.png" alt="Cincinnati Design Week" class="mx-auto d-block">
	</div>
	<div style="padding-top: 30px; padding-bottom: 30px;">
		<div class="bg-blue-dk" style="padding: 1em 0;">
  	<h2 class="text-center white">SAVE THE DATE:
			<br> <span class="yellow-lt" style="font-size: 1.75em">SEPT 23&ndash;27</span></h2>
			</div>
		<!-- <h2><a href="https://cincinnati.aiga.org/upcoming-events/">Tickets are available now!</a></h2> -->

		<div class="row mt-5">
			<div class="col-md-5">
				<h5 class="uppercase blue-md">About CDW</h5>
		    <p>AIGA Cincinnati is proud to present our eighth annual Cincinnati Design Week! CDW19 will be a week-long celebration full of workshops, panel discussions, speaking events, and of course, great connections. Every year, we bring together and re-energize the creative spirits of 1,800+ designers and creatives. Join us as we learn new techniques, expand networks, and find inspiration over five action-packed days.</p>
			</div>
			<div class="col-md-2 block-center">
				<img src="images/1x/section-divider-vertical.png" alt="" class="mx-auto d-none d-md-block">
			</div>
			<div class="col-md-5">
				<h5 class="uppercase blue-md">About AIGA Membership</h5>
				<p>Membership isn't required to attend events during Cincinnati Design Week, but it does give you the opportunity to get tickets at a discounted rate and other member-only benefits. </p>
				<p><a class="button" href="https://cincinnati.aiga.org/membership/membership-rates/" target="_blank">Not yet a member? Sign up today.</a></p>
			</div>
		</div>
	</div>
	<div class="illustration hide-sm">
    <div class="ill-1">
			<img src="images/1x/intro-shape-left.png" alt="" class="hide-sm">
		</div>
    <div class="ill-2">
			<img src="images/1x/intro-shape-right.png" alt="">
		</div>
  </div>
</section>
