<div class="bg-blue-dk">
<section id="presentingpartner">
	<!-- <aside>
		<h2>presenter</h2>
	</aside> -->

	<div class="container">
		<div class="row">
			<div class="col-md-12" style="margin-bottom: 40px;">
				<h2 class="uppercase text-center yellow-lt">Presenting Sponsor</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="https://fusionalliance.com/" target="_blank"><img src="images/partners/fusionalliance-white.svg" alt="Fusion Alliance" class="d-block mx-auto" style="width: 400px; height: auto;"></a>
			</div>
		</div>
	</div>

<!-- <div class="container">
	<div class="row">
		<div class="col-md-12" style="margin-bottom: 40px;">
			<h2 class="uppercase text-left yellow-lt">Presenting Sponsor</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a href="https://fusionalliance.com/"><img src="images/partners/fusionalliance-white.svg" alt="Fusion Alliance" class="d-block" style="width: 400px; height: auto;"></a>
		</div>
		<div class="col-md-6">
			<h5 class="white">Cincinnati Design Week is presented by AIGA Cincinnati with support from Fusion Alliance.</h5>
			<p class="white">Thanks to Fusion Alliance for their support of the creative community within Cincinnati and their partnership of the 8th annual Cincinnati Design Week.</p>
		</div>
	</div>
</div> -->
		<!-- <h2>Platinum Sponsor</h2>
		<ul class="presentingpartner">
			<li>
				<a href="https://www.americansignmuseum.org/"><img src="images/presenter/americansignmuseum.png" alt="American Sign Museum"></a>
			</li>
		</ul>
		<h2>Gold Sponsor</h2>
		<ul class="presentingpartner">
			<li>
				<a href="https://www.westernsouthern.com/"><img src="images/presenter/western-southern-rev20180801.png" alt="Western & Southern Financial Group"></a>
			</li>
		</ul>
</ul>
<h2>Contributing Sponsor</h2>
<ul class="presentingpartner">
	<li>
		<a href="https://www.creativecircle.com/"><img src="images/presenter/creative-circle-rev20180801.png" alt="Creative Circle"></a>
	</li>
	<h2>Silver Sponsor</h2>
	<ul class="presentingpartner">
		<li>
			<a href="https://landor.com/"><img src="images/presenter/landor.jpg" alt="Landor"></a>
		</li>
	</ul>
	<h2>Supporting Sponsors</h2>
	<ul class="presentingpartner">
		<li>
			<a href="https://www.peoplesliberty.org/"><img src="images/presenter/peoples-liberty.jpg" alt="People's Liberty"></a>
		</li>
		<li>
			<a href="https://www.roberthalf.com/work-with-us/our-services/creativegroup"><img src="images/presenter/tcg.jpg" alt="The Creative Group"></a>
		</li>
		<li>
			<a href="https://mattercreativegroup.com/"><img src="images/presenter/matter.png" alt="Matter Creative Group"></a>
		</li>

	</ul>
	<h2>Event presenter</h2>
	<ul class="presentingpartner">
		<li>
			<a href="http://reztark.com/en/"><img src="images/presenter/reztark.png" alt="Reztark"></a>
		</li>
		<li>
			<a href="https://www.mohawkconnects.com/"><img src="images/presenter/mohawk.jpg" alt="Mohawk"></a>
		</li>
		<li><a href="https://www.alumni.uc.edu/"><img src="images/presenter/uc.png" alt="UC"></a></li>
		<li>
			<a href="https://www.teksystems.com/en"><img src="images/presenter/TEKsystems_Digital-logo.jpg" alt="Tek Systems"></a>
		</li>
		<li>
			<a href="http://daap.uc.edu/"><img src="images/presenter/DAAP.jpg" alt="DAAP"></a>
		</li>
		<li>
			<a href="http://gbbn.com/"><img src="images/presenter/gbbn.jpg" alt="GBBN"></a>
		</li>
		<li>
			<a href="https://store.hp.com/"><img src="images/presenter/hp.jpg" alt="HP"></a>
		</li>
		<li>
			<a href="http://www.hyperquake.com/"><img src="images/presenter/hyperquake.gif" alt="Hyperquake"></a>
		</li>

	</ul>
	<h2>Print Sponsor</h2>
	<ul class="presentingpartner">
		<li>
			<a href="http://www.1touchpoint.com/"><img src="images/presenter/one-touch-point.png" alt="One Touch Point"></a>
		</li>
	</ul> -->

</section>
</div>
