<section id="schedule">
	<aside>
		<h2>Schedule</h2>
	</aside>
	<div class="main">
		<p>You asked for it, and we listened! Want more quality time at events to make better connections, speak with the presenters, and enjoy the spirit of the moment? You got it! Each day of Design Week will feature two events that are at least an hour and a half. In addition to bringing back some well-loved favorites, (we see you, Agency Crawl!) other events showcase our most popular initiatives, as well as some amazing Cincinnati-area companies. See the schedule below for more details!</p>
			<table class="schedule">
			<thead>
				<tr>
					<th></th>
					<th>Morning</th>
					<th>Lunch</th>
					<th>Evening</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Mon<br>9.23</td>
					<td></td>
					<td><a href="https://cincinnati.aiga.org/event/empathy-in-ux-accessibility-and-inclusive-design/" target="_blank">Empathy in UX: Accessibility and Inclusive Design</a></td>
					<td><a href="https://cincinnati.aiga.org/event/opening-night-vr-ar-and-the-myth-of-the-t-shaped-designer-with-paul-mealy/" target="_blank">Opening Night: VR/AR and the Myth of the T-Shaped Designer with Paul Mealy</a></td>
				</tr>
        <tr>
          <td>Tues<br>9.24</td>
					<td></td>
					<td><a href="https://cincinnati.aiga.org/event/blind-date-product-team-edition/" target="_blank">Blind Date: Product Team Edition</a></td>
					<td><a href="https://cincinnati.aiga.org/event/beyond-ux-designing-complete-experiences/" target="_blank">Beyond UX: Designing Complete Experiences</a></td>
				</tr>
        <tr>
          <td>Wed<br>9.25</td>
					<td></td>
					<td><a href="https://cincinnati.aiga.org/event/freelancers-office-party-smart-money-moves-workshop/" target="_blank">Freelancer’s Office Party + Smart Money Moves Workshop</a></td>
					<td><a href="https://cincinnati.aiga.org/event/agency-crawl-2019/" target="_blank">Agency Crawl</a></td>
				</tr>
        <tr>
          <td>Thurs<br>9.26</td>
					<td><a href="https://cincinnati.aiga.org/event/sell-the-why-not-the-work/" target="_blank">Sell the Why, Not the Work</a></td>
					<td></td>
					<td><a href="https://cincinnati.aiga.org/event/agents-of-invention-the-women-behind-cincys-most-innovative-ideas/" target="_blank">Agents of Invention: The Women Behind Cincy’s Most Innovative Ideas/</a></td>
				</tr>
        <tr>
          <td>Fri<br>9.27</td>
					<td><a href="https://cincinnati.aiga.org/event/emerge-mini-conference/" target="_blank">EMERGE Mini-Conference</a></td>
					<td><a href="https://cincinnati.aiga.org/event/stand-out-position-yourself-in-the-modern-job-market/" target="_blank">Stand Out: Position Yourself in the Modern Job Market</a></td>
					<td><a href="https://cincinnati.aiga.org/event/keynote-an-evening-with-ron-burrage/" target="_blank">Keynote: Clear Your Mind for Creativity</a></td>
				</tr>
			</tbody>
		</table>
	</div>
  <!-- <div>
  <a href="https://cincinnati.aiga.org/upcoming-events/"><img src="images/CDW_Email_Social_TeaserSchedule_Facebook.jpg" alt="Teaser Schedule" style="max-width: 100%;"/></a>
</div>-->
</section>
