<section id="schedule">
	<aside>
		<h2>Schedule</h2>
	</aside>
	<div class="main">
		<p class="small">We are focused on bringing you the highest quality programming and most rewarding experiences. You asked for it, and we listened! We’ve heard for years that our community wanted more quality time at events, to make better connections, speak with the presenters, and enjoy the spirit of the moment. With that in mind, each day of Design Week will feature 2 events that are a minimum of an hour and a half in length. In addition to bringing back some well-loved favorites, (we see you, Agency Crawl!) other events presented this week pair up with our most popular initiatives as well as some amazing area companies. See the schedule below for more details!</p>
		<table class="schedule">
			<thead>
				<tr>
					<th></th>
					<th>Morning</th>
					<th>Lunch</th>
					<th>Evening</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Mon<br>Sept 23</td>
					<td>&nbsp;</td>
					<td><a href="#">Openfield: Empathy in UX - Accessibility and Inclusive Design</a></td>
					<td><a href="#">Opening Night Speaker: Paul Mealy</a></td>
				</tr>
        <tr>
          <td>Tues<br>Sept 24</td>
					<td>&nbsp;</td>
					<td><a href="#">Creatives On Call: Freelancer's Office Party + Small Business Financial Advice Workshop</a></td>
					<td><a href="#">Dennis Cheatham from Miami University. "Aspects of Experience 4 Design" (Fueled Collective)</a></td>
				</tr>
        <tr>
          <td>Wed<br>Sept 25</td>
					<td><a href="#">&nbsp;</a></td>
					<td><a href="#">Alchemy: The Perfect Work Match</a></td>
					<td><a href="#">Agency Crawl</a></td>
				</tr>
        <tr>
          <td>Thurs<br>Sept 26</td>
					<td><a href="#">Hyperquake: Helping Creatives Sell the Pitch/Story</a></td>
					<td>&nbsp;</td>
					<td><a href="#">Innovative Women-led brands, products, services</a></td>
				</tr>
        <tr>
          <td>Fri<br>Sept 27</td>
					<td><a href="#">EMERGE Mini-Conference</a></td>
					<td><a href="#">Creative Circle Senior Designer Demo</a></td>
					<td><a href="#">Closing Speaker: Ron Burrage</a></td>
				</tr>
			</tbody>
		</table>
	</div>
  <!-- <div>
  <a href="https://cincinnati.aiga.org/upcoming-events/"><img src="images/CDW_Email_Social_TeaserSchedule_Facebook.jpg" alt="Teaser Schedule" style="max-width: 100%;"/></a>
</div>-->
</section>
