<h1 class="text-center grey uppercase">Stylesheet</h1>
<div>
<h1>H1 - Futura-PT-Bold 40</h1>
<h2>H2 - Futura-PT-Bold 32</h2>
<h3>H3 - Futura-PT-Bold 24</h3>
<h4>H4 - Futura-PT-Bold 18</h4>
<h5>H5 - Futura-PT-Bold 16</h5>
<h6>H6 - Futura-PT-Bold 14</h6>
</div>
<hr>
<div>
<p>P - Lato 16</p>
<p class="small">P.small - Lato 13</p>
</div>
<hr>
<div>
	<a href="#" class="button-a">Button A</a> a.button-a
	<!-- <a href="#" class="button-a-colorme bg-red-dk"><div>Button A Color me (red)</div></a> -->
</div>
<div>
	<a href="#" class="button-b bg-red-dk">Button B</a> a.button-b
</div>
<hr>
<div>
	<h3>Helper classes:</h3>
	<br>
	<h4 class="uppercase grey">color</h4>
		<p class="black100">.black100</p>
		<p class="black">.black</p>
		<p class="grey">.grey</p>
		<p class="white bg-blue-dk" style="padding:4px;">.white</p>
		<p class="blue-dk">.blue-dk</p>
		<p class="blue-md">.blue-md</p>
		<p class="blue-lt">.blue-lt</p>
		<p class="red-dk">.red-dk</p>
		<p class="red-lt">.red-lt</p>
		<p class="yellow-dk">.yellow-dk</p>
		<p class="yellow-lt">.yellow-lt</p>
	<br>
	<h4 class="grey uppercase">Utility</h4>
		<p class="uppercase">.uppercase</p>
		<p class="text-center">.text-center</p>
	<p class="text-bold">.text-bold</p>
</div>
