<div class="bg-blue-md">
<section id="shop">
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<a href="https://aigacincinnati.threadless.com/"><img src="images/1x/cdw-tshirt.png" alt="Make a Wish" class="d-block mx-auto" style="width: 200px; height: auto;"></a>
		</div>
		<div class="col-md-8">
			<a href="https://aigacincinnati.threadless.com/" target="_blank"><h2 class="uppercase text-left yellow-lt">Shop CDW Swag</h2></a>
			<h5 class="white">Get your own piece of Cincinnati Design Week.</h5>
			<p class="white">You can buy your own AIGA or CDW apparel on Threadless. All proceeds are donated to the Make-A-Wish Foundation.</p>
			<div style="padding-top: 0.5em;">
				<a href="https://aigacincinnati.threadless.com/" target="_blank" class="button-b">Shop Now</a>
			</div>
			<div style="padding-top: 1em;">
				<img src="images/1x/makeawish.png" alt="Make a Wish" class="d-block" style="width: 200px; height: auto;">
			</div>
		</div>
	</div>
</div>
</section>
</div>
